<div>
    <h2>Description</h2>
    <h4>
        Used plugins: RowDetails, TableTools, BreezeRemote, AdvancedFilter, ColResize, ColVis, ColReorder, FormFilter
    </h4>
    <p>
        Ordering, paging and filtering is done by Breeze that is used inside BreezeRemote plugin.
        When using AdvancedFilter and BreezeRemote plugin together, AdvancedFilter will automatically apply its filters to the breeze.EntityQuery.
        With the help of TableTools and its integration with angular we can bind the current selected row onto the form so we can modify the row data.
        For displaying the customer orders the RowDetails plugin is used.
        When the row is expanded we are using the loadNavigationProperty function from Breeze in order to load the orders form the server.
    </p>

    <h2>Customers</h2>
    
    <h3>Form filter</h3>
    <form role="form" id="cust-dt-filter">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" name="company" class="form-control" id="company">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="form-control" id="country">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="contract">Contact Name</label>
                    <input type="text" name="contract" class="form-control" id="contract">
                </div>
            </div>
        </div>
        <div class="form-group pull-right">
            <button class="btn btn-primary">Filter</button>
        </div>
        <div class="clearfix"></div>
    </form>

    <script type="text/template" id="row-details-tpl">
        <h4>SubItems {{data.CompanyName}}</h4>
        <div ng-if="ordersLoaded !== true">
            <div><span>Loading...</span></div>
        </div>
        <div ng-if="ordersLoaded === true">
            <table class="table table-striped table-bordered" dt-table dt-data="data.Orders" dt-options="vm.customerOrdersGridOpts">
                <thead>
                    <tr>
                        <th dt-data="OrderID">Id</th>
                        <th dt-expression="data.OrderDate | date:'shortDate'">Order Date</th>
                        <th dt-data="ShipAddress">Ship Address</th>
                    </tr>
                </thead>
            </table>
        </div>
    </script>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered" dt-table="dtTable" dt-options="vm.customerGridOpts" dt-selectable>
                <thead>
                    <tr>
                        <th dt-icon-column="true" dt-width="20px"></th>
                        <th dt-data="CompanyName">Company Name</th>
                        <th dt-data="ContactName">Contact Name</th>
                        <th dt-data="Country">Country</th>
                        <th dt-expression="vm.getStateName(data.entityState)">Entity state</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="2"></th>
                        <th>Contact Name</th>
                        <th>Country</th>
                        <th>Entity state</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <form class="form-horizontal">
                <!-- We do field-level validation based on the validation rules in the metadata,
        and twitter bootstrap styles to show invalid fields.  See the breezeinput directive in directives.js -->
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.CompanyName0">Company Name</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.CompanyName0" name="bz-dtTable.selectedRows[0].data.CompanyName0" ng-model="dtTable.selectedRows[0].data.CompanyName"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.ContactName1">Contact Name</label><div class="col-sm-8"><input type="text" class="form-control" id="bz-dtTable.selectedRows[0].data.ContactName1" name="bz-dtTable.selectedRows[0].data.ContactName1" ng-model="dtTable.selectedRows[0].data.ContactName"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.ContactTitle2">Contact Title</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.ContactTitle2" name="bz-dtTable.selectedRows[0].data.ContactTitle2" ng-model="dtTable.selectedRows[0].data.ContactTitle"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.Address3">Address</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.Address3" name="bz-dtTable.selectedRows[0].data.Address3" ng-model="dtTable.selectedRows[0].data.Address"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.City4">City</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.City4" name="bz-dtTable.selectedRows[0].data.City4" ng-model="dtTable.selectedRows[0].data.City"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.Region5">Region</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.Region5" name="bz-dtTable.selectedRows[0].data.Region5" ng-model="dtTable.selectedRows[0].data.Region"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.PostalCode6">Postal Code</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.PostalCode6" name="bz-dtTable.selectedRows[0].data.PostalCode6" ng-model="dtTable.selectedRows[0].data.PostalCode"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.Country7">Country</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.Country7" name="bz-dtTable.selectedRows[0].data.Country7" ng-model="dtTable.selectedRows[0].data.Country"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.Phone8">Phone</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.Phone8" name="bz-dtTable.selectedRows[0].data.Phone8" ng-model="dtTable.selectedRows[0].data.Phone"><span class="help-inline"></span></div></div>
                <div class="form-group "><label class="col-sm-4" for="bz-dtTable.selectedRows[0].data.Fax9">Fax</label><div class="col-sm-8"><input type="text" class="form-control " id="bz-dtTable.selectedRows[0].data.Fax9" name="bz-dtTable.selectedRows[0].data.Fax9" ng-model="dtTable.selectedRows[0].data.Fax"><span class="help-inline"></span></div></div>
                <div style="text-align: center">
                    <button class="btn" ng-click="vm.reset(dtTable.selectedRows[0].data)">Reset Customer</button>
                    <button class="btn" ng-click="vm.update(dtTable.selectedRows[0].data)">Save Customer</button>
                </div>
            </form>
        </div>
    </div>
</div>

