<div >
    <h2>Description</h2>
    <h4>
        Used plugins: RowDetails, TableTools, ColReorder
    </h4>
    <p>
        This example shows the ability to bind a custom template to a column. There are two ways how to to add or delete the items from the table, when the array is binded to the table.
        The first one is done with splice/push functions on the original array that was passed as data parameter to datatables, the second one is done through the datatables API.
        In addition we also set the row invalidation option to "rendered" (default "none"), which is used to remove the order/filter cache of the rendered rows (this prevents faulty sorting, when changing an item).
        If the data of the rendered row is changed the row will be automatically invalidated.
        With the button "Edit random item" we are invalidating rows manually because the randomly item may not be rendered yet.
        The second table selectedRows is populated by any of the items selected in first table.
        The selection of items in the first table, can be done using Operating System like selection (shift and ctrl / cmd keys on your keyboard to add / remove rows from the selection).
    </p>

    <h2>Browsers</h2>
    <button class="btn" ng-click="vm.addItem()"><span>Add Item via model collection</span></button>
    <button class="btn" ng-click="vm.addItemViaDt()"><span>Add Item via datatables</span></button>
    <button class="btn" ng-click="vm.wapItems()"><span>Swap items (row 0 with 1)</span></button>

    <button class="btn" ng-click="vm.editRandomItem()"><span>Edit random item</span></button>
    <div style="display: inline" ng-if="dtTable.selectedRows.length > 0">
        <button class="btn" ng-show="vm.canRemoveItem()" ng-click="vm.editItem(dtTable.selectedRows[0])"><span>Edit item: {{dtTable.selectedRows[0].index}})</span></button>
        <button class="btn" ng-show="vm.canRemoveItem()" ng-click="vm.removeItem(dtTable.selectedRows[0].index)"><span>Remove item via model collection (index: {{dtTable.selectedRows[0].index}})</span></button>
        <button class="btn" ng-show="vm.canRemoveItem()" ng-click="vm.removeItemViaDt(dtTable.selectedRows[0])"><span>Remove item via datatables (index: {{dtTable.selectedRows[0].index}})</span></button>
    </div>
    


    <div id="options-tpl" ng-non-bindable style="display: none">
        <span>({{$rowIndex}}/{{$cellIndex}} - {{$firstRow == true ? 'First' : ($lastRow == true ? 'Last' : 'Middle')}} - {{$oddRow == true ? 'Odd' : 'Even'}})</span>
        <button ng-click="vm.removeItem($rowIndex)"><span>Delete</span></button>
    </div>

    <div id="icon-tpl" ng-non-bindable style="display: none">
        <button><span class="row-detail-icon">Icon</span></button>
    </div>


    <table class="table table-bordered" dt-table="dtTable" dt-debug="true" dt-data="vm.data" dt-options="vm.options" dt-row-invalidate="rendered"></table>

    <h3>selectedRows</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Index</th>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in dtTable.selectedRows">
                <td ng-bind="row.index"></td>
                <td><input ng-model="row.data.engine" type="text" /></td>
                <td><input ng-model="row.data.browser" type="text" /></td>
                <td><input ng-model="row.data.platform" type="text" /></td>
                <td><input ng-model="row.data.version" type="text" /></td>
                <td><input ng-model="row.data.grade" type="text" /></td>
            </tr>
        </tbody>
    </table>
</div>