<h2>Editable</h2>

<p>TODO</p>

<h3>Examples without plugins:</h3>

<ul>
    <li>
        <h4>Batch editor</h4>
        <ul>
            <li><h5><a href="./App/angular/examples/editable/batch/programmatic.html" target="_blank">Programmatic</a></h5></li>
            <li><h5><a href="./App/angular/examples/editable/batch/declarative.html" target="_blank">Declarative</a></h5></li>
        </ul>

    </li>
    <li>
        <h4>Inline editor</h4>
        <ul>
            <li><h5><a href="./App/angular/examples/editable/inline/programmatic.html" target="_blank">Programmatic</a></h5></li>
            <li><h5><a href="./App/angular/examples/editable/inline/declarative.html" target="_blank">Declarative</a></h5></li>
        </ul>

    </li>
</ul>



<h3>Plugins:</h3>
<ul>
    <li><h4><a href="#">AngularStrap</a></h4></li>
    <li><h4><a href="#">Bootstrap</a></h4></li>
    <li><h4><a href="#">UiBootstrap</a></h4></li>
    <li><h4><a href="#">UiSelect2</a></h4></li>
</ul>