

<table class="table table-bordered" dt-table="dtTable" dt-debug="true" dt-data="vm.data" dt-options="vm.options"></table>

<h3>Typescript</h3>
<pre>
    export class EditableUiSelect2Controller {
        
        public data = [];
        public objVersions = [
            { id: 1, text: 'one' },
            { id: 2, text: 'two' },
            { id: 3, text: 'three' },
            { id: 4, text: 'four' },
            { id: 5, text: 'five' }
        ];
        public versions = [1, 2, 3, 4, 5, 6, 7];
        public versionGroups = [
            { label: 'Group1', items: [1, 2, 3] },
            { label: 'Group2', items: [4, 5, 6] }
        ];
        public options;
        public static $inject = ['$scope']
        constructor($scope) {
            $scope.vm = this;
            var i;
            for (i = 0; i < 100; i++) {
                this.data.push({
                    "versionSimple": 1,
                    "versionSimpleMulti": [1],
                    "versionPrimitive": 1,
                    "objVersion": this.objVersions[0],
                    "version": 1,
                    "versionGroup": 1
                });
            }
            $scope.formatObjVersion = (id) => {
                for (i = 0, length = this.objVersions.length; i < length; i++) {
                    if (this.objVersions[i].id === id)
                        return this.objVersions[i].id + ' - ' + this.objVersions[i].text;
                }
                return '';
            };
            this.options = {
                deferRender: true,
                columns: [
                    {
                        data: "versionSimple", title: "Version simple", type: "number",
                        editable: {
                            validators: { required: true },
                            options: [{ text: 'Version 1', id: 1 }, { text: 'Version 2', id: 2 }],
                            type: 'select',
                            settings: {
                                allowClear: true,
                                placeholder: 'Select a version',
                                width: '150px'
                            }
                        }
                    },
                    {
                        data: "versionPrimitive", title: "Version Primitive", type: "number",
                        expression: "formatObjVersion(data.versionPrimitive)",
                        editable: {
                            asInput: true,
                            type: 'select',
                            settings: {
                                allowClear: true,
                                placeholder: "Select a version",
                                data: this.objVersions,
                                select2Model: (item) => {
                                    return item ? item.id: null;
                                },
                                formatResult: (item) => {
                                    return item.id + " - " + item.text;
                                },
                                formatSelection: (item) => {
                                    return item.id + " - " + item.text;
                                },
                            }
                        }
                    },
                    {
                        data: "versionSimpleMulti", title: "Version multiple", 
                        expression: "data.versionSimpleMulti.join(', ')",
                        editable: {
                            asInput: true,
                            validators: { required: true },
                            type: 'select',
                            settings: {
                                simple_tags: true,
                                multiple: true,
                                data: this.objVersions,
                                allowClear: true,
                                placeholder: 'Select a version',
                                width: '150px'
                            }
                        }
                    },
                    {
                        data: "objVersion", title: "Version Object",
                        expression: "data.objVersion.id + '-' + data.objVersion.text",
                        editable: {
                            asInput: true,
                            type: 'select',
                            settings: {
                                allowClear: true,
                                placeholder: "Select a version",
                                data: this.objVersions
                            }
                        }
                    },
                    {
                        data: "versionGroup", title: "Version Group", type: "number",
                        editable: {
                            validators: { required: true },
                            groups: true,
                            type: 'select',
                            settings: {
                                allowClear: true,
                                placeholder: 'Select a version',
                                width: '150px'
                            },
                            template: {
                                optgroup: {
                                    attrs: {
                                        'ng-repeat': 'group in vm.versionGroups',
                                        'label': '{{group.label}}'
                                    }
                                },
                                option: {
                                    attrs: {
                                        'ng-repeat': 'item in group.items',
                                        'ng-bind': 'item',
                                        'ng-value': 'item',
                                    }
                                }
                            }
                        }
                    }
                ],
                editable: true
            };
        }
    }
</pre>
<h3>Html</h3>
<pre ng-non-bindable="true">
        &lt;table class=&quot;table table-bordered&quot; dt-table=&quot;dtTable&quot; dt-debug=&quot;true&quot; dt-data=&quot;vm.data&quot; dt-options=&quot;vm.options&quot;&gt;&lt;/table&gt;
</pre>