<div>
    <h2>Description</h2>
    <div style="display: none">
        <h4>
            Used plugins: BreezeFilter, RemoteState, AdvancedFilter, ColResize, ColVis, ColReorder, ColPin, FormFilter
        </h4>

        <p>
            The BreezeFilter is a simple global DataTables filter that will filter the rows based on the state that the breeze entity has.
            For the sake of simplicity, we can change the entity state in the last column named options.
            The list of possible states is the following:

            <ul>
                <li>Added</li>
                <li>Unchanged</li>
                <li>Modified</li>
                <li>Deleted</li>
                <li>Detached</li>
            </ul>
        <p>
            With the dropdown Entity filter we can select the type of entities that will be shown.
            Note: this plugin will only work when binding breeze entities to the table.
        </p>
        <p>
            The RemoteState is the second plugin in this example, and it serves to save the current table state to the server or load it from the server.
            RemoteState will also save/load the states of the following plugins: ColVis, ColReorder, AdvancedFilter, ColResize, ColPin and FormFilter.
            First of all we need to create a new State by pressing the settings button.
            One table can have multiple states, so the user can switch bettewn them on the fly (this can be done in the State dropdown).
            In addition to that we can set one of the saved states as default one, this means that the table will be initilaized in the state that was set as default.
            In this example the states that are saved will be shown to all users, just for siplicity.
            We can have a different server logic for retriving the states but this is outside the scope of this plugin.
        </p>
        <p>
            The AdvancedFilter plugin is used to create complex filters that can be applied to our data (client side or server side). In this exmaple filtering is done on the client side.
            The big difference between DataTables builtin search engine and AdvancedFilter is that AdvancedFilter support nested predicates on a column level, with a friendly UI.
            There are two ways to add a filter with the AdvancedFilter plugin.
            One is by clicking on the filter icon whitin the column header or by clicking the filter icon above the table.
            When clicking on the icon above the table a modal window will be shown with all the filters that are currently applied.
        </p>
        <p>
            ColResize is a plugin that is used for column resizing. It works for tables that have scrollX either enabled or disabled, and even with the official DataTables plugin called Scroller.
        </p>
        <p>
            The ColPin plugin is used for pinning columns, so that they are always visible, even when scrolling horizontally.
            Under the hood ColPin uses the official DataTables plugin called FixedColumns.
            By clicking on the pin, the column will be automatically pinned to the left side of the table and the pin icon will be colored red.
            We can obtain a mirrored effect by holding shift + click, this way the column will be pinned on the right side.
            For unpinning the column, we just habe to click again on the icon and the column will not be pinned anymore.
        </p>
        <p>
            The FormFilter is used for the integration of html forms with the DataTables filtering engine.
            Before filtering FormFilter will fetch all the data from the forms, so that can be used for server or client side filtering.
            This plugin comes handy when we have a special condition that cannot be created throught the AdvancedFilter.
        </p>
    </div>

    <style type="text/css">
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }
    </style>

    <h2>Orders</h2>

    <h3>Form filter</h3>
    <form role="form" id="order-dt-filter">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="order-name">Name</label>
                    <input type="text" name="name" class="form-control" id="order-name">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="order-city">City</label>
                    <input type="text" name="city" class="form-control" id="order-city">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="order-region">Region</label>
                    <input type="text" name="region" class="form-control" id="order-region">
                </div>
            </div>
        </div>
        <div class="form-group pull-right">
            <button class="btn btn-primary">Filter</button>
        </div>
        <div class="clearfix"></div>
    </form>


    <div id="order-opt-tpl" ng-non-bindable style="display: none">
        <button ng-show="order.entityAspect.entityState.name != 'Detached'" ng-click="setState($rowIndex, 'modified')"><span>SetModified</span></button><br />
        <button ng-show="order.entityAspect.entityState.name != 'Detached'" ng-click="setState($rowIndex, 'deleted')"><span>SetDeleted</span></button><br />
        <button ng-show="order.entityAspect.entityState.name != 'Detached'" ng-click="setState($rowIndex, 'detached')"><span>SetDetached</span></button><br />
        <button ng-show="order.entityAspect.entityState.name != 'Detached'" ng-click="setState($rowIndex, 'unchanged')"><span>SetUnchanged</span></button>
    </div>
    <table class="table-striped table-bordered table-condensed table-small" dt-table="orderTable" dt-data="orders" dt-options="orderGridOpts" dt-row-data-path="order">
        <thead>
            <th dt-data="OrderID" dt-width="100px">Order ID</th>
            <th dt-data="Freight" dt-expression="order.Freight | currency" dt-width="100px">Freight</th>
            <th dt-data="OrderDate" dt-expression="order.OrderDate | date:'shortDate'" dt-width="150px">Order Date</th>
            <th dt-expression="order.RequiredDate | date:'shortDate'" dt-width="150px">Required Date</th>
            <th dt-expression="order.ShippedDate | date:'shortDate'" dt-width="150px">Shipped Date</th>
            <th dt-data="ShipName" dt-width="100px">Name</th>
            <th dt-data="ShipAddress" dt-width="100px">Address</th>
            <th dt-data="ShipCity" dt-width="150px">City</th>
            <th dt-data="ShipRegion" dt-width="150px">Region</th>
            <th dt-data="ShipPostalCode" dt-width="150px">PostCode</th>
            <th dt-data="ShipCountry" dt-width="150px">Country</th>
            <th dt-data="entityAspect.entityState.name" dt-width="150px">Entity state</th>
            <th dt-template="#order-opt-tpl" dt-width="150px">Options</th>
        </thead>
        <tfoot>
            <th>Order ID</th>
            <th>Freight</th>
            <th>Order Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>
            <th>PostCode</th>
            <th>Country</th>
            <th>Entity state</th>
            <th>Options</th>
        </tfoot>
    </table>
</div>
