<div>
    <h2>Description</h2>
    <h4>
        Used pugins: BreezeEditable, TableTools, ColReorder, BreezeFilter, KeyTable
    </h4>
    <p>
        In this example we show the abilities of the BreezeEditable plugin for editing breeze entities, with the help of various offical DataTables plugins (TableTools, KeyTable) and the Boostrap popover control for displaying errors.
    </p>
    <p>
        <b>
            Note: this plugin has nothing to do with the offical DataTables Editor plugin and is not meant to be a replacement, as this plugin will only work with breeze entities, that have builtin the logic for valiation/addition/deletion/restoration of the data.
            If you want editing of non breeze entities this plugin is not for you.
        </b>
    </p>
    <p>
        For navigation between cells we use tab(moving forwards) and shift+tab(moving backwards). This will also skip automatically all the cells that are not editable (i.e. Id and Entity state columns are not editable in this table).
    </p>
        
    <h2>Employee</h2>
    <form class="form-horizontal">
        <!-- We do field-level validation based on the validation rules in the metadata,
            and twitter bootstrap styles to show invalid fields.  See the breezeinput directive in directives.js -->
        <div class="form-group">
            <label class="col-sm-4">Id</label>
            <label class="col-sm-8" ng-bind="vm.employee.EmployeeID"></label>
        </div>
        <breezeinput label="FirstName" ng-model="vm.employee.FirstName"></breezeinput>
        <breezeinput label="LastName" ng-model="vm.employee.LastName"></breezeinput>
        <breezeinput label="BirthDate" ng-model="vm.employee.BirthDate" type="date"></breezeinput>
        <breezeinput label="Address" ng-model="vm.employee.Address"></breezeinput>
        <div class="form-group">
            <label class="col-sm-4">State</label>
            <label class="col-sm-8" ng-bind="employee.entityAspect.entityState.name"></label>
        </div>
        <h3>Orders</h3>
        <table class="table table-bordered" dt-table dt-data="vm.employee.Orders" dt-options="vm.options">
            <thead>
                <tr>
                    <th dt-class-name="checkbox" dt-orderable="false" dt-searchable="false" dt-editable="false"></th>
                    <th dt-data="OrderID" dt-editable="false">Id</th>
                    <th dt-data="Freight" dt-expression="data.Freight | currency">Freight</th>
                    <th dt-data="OrderDate" dt-expression="data.OrderDate | date:'shortDate'">Order Date</th>
                    <th dt-data="RequiredDate" dt-expression="data.RequiredDate | date:'shortDate'">Required Date</th>
                    <th dt-data="ShippedDate" dt-expression="data.ShippedDate | date:'shortDate'">Shipped Date</th>
                    <th dt-data="ShipName">Name</th>
                    <th dt-data="ShipAddress">Address</th>
                    <th dt-data="ShipCity">City</th>
                    <th dt-data="ShipRegion">Region</th>
                    <th dt-data="ShipPostalCode">PostCode</th>
                    <th dt-data="ShipCountry">Country</th>
                    <th dt-data="entityAspect.entityState.name" dt-editable="false">Entity state</th>
                </tr>
            </thead>
        </table>
        <div>
            <button class="btn" ng-click="vm.rejectChanges()">Revert changes</button>
            <button class="btn" ng-click="vm.saveChanges()">Save</button>
        </div>
    </form>


</div>