<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>NorthBreeze AngularJS App</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="Content/toastr.css" />
    <link rel="stylesheet" href="Content/font-awesome.css" />
    <link rel="stylesheet" href="Content/css/select2.css" />
    <link rel="stylesheet" href="Content/select2-bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="libs/datatables/extensions/ColReorder/css/dataTables.colReorder.css">
    <link rel="stylesheet" type="text/css" href="libs/datatables/extensions/ColVis/css/dataTables.colVis.css">
    <link rel="stylesheet" type="text/css" href="libs/datatables/extensions/Bootstrap/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="libs/datatables/extensions/TableTools/css/dataTables.tableTools.css">
    <link rel="stylesheet" type="text/css" href="libs/datatables/extensions/Scroller/css/dataTables.scroller.css">
    <link rel="stylesheet" type="text/css" href="libs/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
    <link rel="stylesheet" type="text/css" href="libs/datatables/extensions/FixedHeader/css/dataTables.fixedHeader.css">
    <link rel="stylesheet" type="text/css" href="src/dataTables.remoteState.css">
    <link rel="stylesheet" type="text/css" href="src/dataTables.advancedFilter.css">
    <link rel="stylesheet" type="text/css" href="src/dataTables.colPin.boostrap.css">
    <link rel="stylesheet" type="text/css" href="src/dataTables.colResize.css">
    <link rel="stylesheet" href="App/style.css" />
</head>
    <body>
        
        <div class="row">
            <div class="col-md-2">
                <div ng-controller="RouteCtrl" style="max-width: 300px; position: fixed; overflow-y: auto">
                    
                    <accordion close-others="true" >
                        <accordion-group ng-repeat="module in modules" is-open="module.isOpen">
                            <accordion-heading>
                                {{module.title}}
                            </accordion-heading>
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-repeat="route in module.routes" ng-class="{active: ((module.baseTemplateUrl || '') + route.templateUrl) == $route.current.templateUrl}">
                                    <a href="#{{(module.basePath || '') + route.path}}">{{route.name}}</a>
                                </li>
                            </ul>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            <div class="col-md-10">
                <div ng-view style="margin: 50px"></div>
            </div>
        </div>

        <script src="Scripts/jquery-1.9.1.js"></script>
        <script src="Scripts/moment-with-locales.js"></script>
        <script src="Scripts/select2.js"></script>
        <script src="Scripts/bootstrap-datetimepicker.js"></script>
        <script src="Scripts/q.js"></script>
        <script src="libs/angular.js"></script>
        <script src="libs/angular-route.js"></script>
        <script src="Scripts/angular-ui/ui-bootstrap.js"></script>
        <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
        <script src="Scripts/angular-ui/ui-select2.js"></script>
        <!--<script src="Scripts/angular-strap.js"></script>
        <script src="Scripts/angular-strap.tpl.js"></script>-->
        <script src="Scripts/datajs-1.1.3.js"></script>
        <script src="Scripts/jaydata.js"></script>
        <script src="Scripts/jaydatamodules/angular.js"></script>
        <!--<script src="Scripts/jaydataproviders/WebApiProvider.js"></script>-->
        <script src="Scripts/breeze.debug.js"></script>
        <script src="Scripts/breeze.ajaxpost.js"></script>
        <script src="Scripts/breeze.angular.js"></script>
        <script src="Scripts/toastr.js"></script>
        <script src="libs/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/ColReorder/js/dataTables.colReorder.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/ColVis/js/dataTables.colVis.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/Bootstrap/js/dataTables.bootstrap.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/KeyTable/js/dataTables.keyTable.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/Scroller/js/dataTables.scroller.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
        <script type="text/javascript" language="javascript" src="libs/datatables/extensions/FixedHeader/js/dataTables.fixedHeader.js"></script>
        
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.js"></script>
        <!-- Plugins -->
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.i18N.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.selectable.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.selectable.bootstrap.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.command.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.editable.js"></script>
        
        <!-- Editable plugins -->
        <!--<script type="text/javascript" language="javascript" src="src/dataTables.angular.editable.angularStrap.js"></script>-->
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.editable.uiBootstrap.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.editable.breeze.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.editable.uiSelect2.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.editable.bootstrap.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.angular.editable.datetimepicker.js"></script>
        
        <!-- Features -->
        <script type="text/javascript" language="javascript" src="src/dataTables.remoteState.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.rowDetails.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.entityFilter.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.advancedFilter.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.remoteFilter.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.colResize.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.colPin.js"></script>
        <script type="text/javascript" language="javascript" src="src/dataTables.formFilter.js"></script>
    
        
        <script type="text/javascript" language="javascript" src="src/angular.datetimepicker.js"></script>


        <script src="App/app.js"></script>
        <script src="App/logger.js"></script>
        <script src="App/dataservice.js"></script>
        <script src="App/directives.js"></script>
    
        <script src="App/angular/views/browsers.js"></script>
        <script src="App/angular/views/performance.js"></script>
        <script src="App/angular/views/editableUiSelect2.js"></script>

        <script src="App/breeze/views/home.js"></script>
        <script src="App/breeze/views/customers.js"></script>
        <script src="App/breeze/views/employee.js"></script>
        <script src="App/breeze/views/orders.js"></script>

        
        <script src="App/jaydata/views/home.js"></script>
        <script src="App/jaydata/views/customers.js"></script>
        <script src="App/jaydata/views/orders.js"></script>
        
    </body>
</html>