.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px
}
.form-horizontal .control-group {
    margin-bottom: 5px;
}

table .table-small {
    font-size: smaller;
}

tr.dt-selected-row, .dt-global-filter-active {
    color: red;
}
td.dt-selected-cell, .dt-column-filter-active {
    color: green;
}
div.dt-global-filter-div {
    margin-right: 15px;
}

div.dt-feature-row {
    padding-right: 15px;
}

div.dt-feature {
    float: left;
    margin-right: 20px;
}

div.dt-entity-filter label {
    margin-right: 10px;
}

table.dataTable tr td.checkbox {
    text-align: center;
}
 
table.dataTable tr td.checkbox:before {
    content: "\f096"; /* fa-square-o */
    font-family: FontAwesome;
}
 
table.dataTable tr.selected td.checkbox:before {
    content: "\f046"; /* fa-check-square-o */
}