<h2>ColResize</h2>

<p>Resizable plugin for DataTables</p>

<h3>Examples:</h3>
<ul>
    <li>
        <h5><a href="/App/datatables/examples/resize-fixedlayout-fullwidth.html" target="_blank">Fixed layout with fullwidth</a></h5>
    </li>
    <li>
        <h5><a href="/App/datatables/examples/resize-complex-header-bootstrap.html" target="_blank">Complex headers with Bootstrap</a></h5>
    </li>
    <li>
        <h5><a href="/App/datatables/examples/resize-complex-header.html" target="_blank">Complex headers</a></h5>
    </li>
    <li>
        <h5><a href="/App/datatables/examples/resize-dblClick.html" target="_blank">Double click</a></h5>
    </li>
    <li>
        <h5><a href="/App/datatables/examples/resize-fixed-headers.html" target="_blank">With FixedHEaders</a></h5>
    </li>
</ul>